@media screen and (min-width: 401px) {.main-like-body-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.like-video-container {
    width: 210px;
}
.like-font {
    font-size: 13px;
    margin-top: 6px;
    color: #868686;
}

.like-video-image {
    width: 210px;
    height: 118px;
    border-radius: 10px;
}}
@media screen and (max-width: 400px) {
.main-like-body-container {
    display: flex;
        overflow-x: scroll;
    
    }
    
    .main-like-body-container::-webkit-scrollbar {
        width: 0.2em;
    }
    
    .main-like-body-container::-webkit-scrollbar-thumb {
        background-color: var(--nav-color);
    }

    .like-video-container {
    width: 125px;
        margin: 0px 5px;
    }
.like-video-detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.like-font {
    font-size: 13px;
    margin-top: 6px;
    color: #868686;
}
    .like-video-image {
    width: 125px;
        border-radius: 10px;
    }
}

