@media screen and (min-width: 401px) {
    .bfy__Chips {
        &__container {
            display: flex;
            overflow-x: scroll;
            align-items: center;
            margin: 0px 5px 0px 5px;
            background-color: var(--nav-color);
            margin-top: 60px;
            margin-left: 75px;

            &::-webkit-scrollbar {
                width: 0.2em;
                &::-webkit-scrollbar-thumb {
                    background-color: var(--nav-color);
                }
            }
        }
        &__Button {
            &-text {
                display: inline-block;
                background-color: var(--btn-bg-color);
                color: var(--text-color);
                border-radius: 23px;
                padding: 6px 12px;
                font-size: 11px;
                border: 1px solid #5d5b5b;

                min-width: fit-content;
                margin: 5px 4px;
                cursor: pointer;
                text-align: center;
            }
            &-radioButton {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .bfy__Chips {
        &__container {
            display: flex;
            overflow-x: scroll;
            align-items: center;
            margin: 0px 5px;
            margin-top: 70px;

            &::-webkit-scrollbar {
                width: 0.2em;
            }
            &::-webkit-scrollbar-thumb {
                background-color: var(--nav-color);
            }
        }
        &__Button {
            &-text {
                display: inline-block;
                background-color: var(--btn-bg-color);
                color: var(--text-color);
                border-radius: 50px;
                padding: 7px 12px;
                min-width: fit-content;
                font-size: 11px;
                border: 1px solid #5d5b5b;
                margin: 5px 6px;
                cursor: pointer;
                text-align: center;
            }
            &-radioButton {
                display: none;
            }
        }
    }
}
