.empty-image{
        display: flex;
        flex-direction: column;
            justify-content: center;
            margin-top: 23px;
            width: 100%;
            align-items: center;
            
}
.img-empty{
    width: 40%;
}