@media screen and (min-width: 401px) {
.bfy__playlist{
    &__playItem{
        &-discription {
            display: flex;
            width: 400px;
            margin-bottom: 11px;
        }
        &-details {
            display: flex;
            justify-content: space-between;
        }
        &-thumbnail {
            width: 180px;
            border-radius: 10px;
        }
        &-titleText{
            margin: 5px;
            // display: -webkit-box;
            // -webkit-box-orient: vertical;
            // -webkit-line-clamp: 2;
            // overflow: hidden;
        }
        &-text{
            font-size: 11px;
            margin: 5px;
            color: gray;
        }
    }
}
}

@media screen and (max-width: 400px) {
.bfy__playlist {
    &__playItem {
        &-discription {
            display: flex;
            width: 100%;
            margin-bottom: 11px;
        }
        &-details {
            display: flex;
            justify-content: space-between;
        }
        &-thumbnail {
            width: 160px;
            border-radius: 10px;
        }
        &-titleText{
            margin: 5px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
        &-text{
            font-size: 11px;
            margin: 5px;
            color: gray;
        }
    }
}
}