@media screen and (min-width: 401px) {
.main-playlist-container{
    margin-top:80px  ;
    margin-left:120px  ;
    display: flex;
        justify-content: space-between;
}
.playlist-content{
        border-radius: 10px;
            width: 270px;
            height: 300px;
            background: linear-gradient(to top, #121212, #383838);
                display: flex;
                    flex-direction: column;
                    align-items: center;
}
.playlist-container-Box{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
}
.Playlist-item-container{
  
        display: flex;
            flex-direction: column;

            padding: 15px;
           
}
.playlist-container{
display: flex;
    width: 400px;
    margin-bottom: 11px;
}
.playlist-tump-image{
        width: 250px;
        margin-top: 10px;
            border-radius: 15px
}
.playlist-detail{
    display: flex;
        justify-content: space-between;
}
.view-all-btn{
        padding: 10px;
            width: 43%;
            border-radius: 20px;
}
.detail-content{
        display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
}
.playlist-font{
        color: gray;
            font-size: 14px;
}
.playlist-image{
    width: 180px ;
    border-radius: 10px;
}
}
@media screen and (max-width: 400px) {
.main-playlist-container{
    margin-top:80px  ;

}
.playlist-content{
border-radius: 10px;
    width: 340px;
    height: 158px;
    background: linear-gradient(to top, #121212, #383838);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.playlist-container-Box{
    display: grid;
    grid-template-columns: auto;
   
}
/* .Playlist-item-container{
  
        display: flex;
            flex-direction: column;

            padding: 15px;
           
} */
.playlist-container{
display: flex;
width: 100%;
    margin-bottom: 11px;
}
.playlist-tump-image{
/* width: 100%;    

    margin-top: 10px;
            border-radius: 15px */
            display: none;
}
.playlist-detail{
    display: flex;
        justify-content: space-between;
}
.view-all-btn{
        padding: 10px;
            width: 43%;
            border-radius: 20px;
}
.detail-content{
        display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
}
.playlist-font{
        color: gray;
            font-size: 14px;
}
.playlist-image{
    width: 160px ;
    border-radius: 10px;
}
}