@media screen and (min-width: 401px){
.bfy__library__header{
    margin-top: 80px;
    margin-left: 95px;
}
.bfy__library__historycontnet__hr_tag{
    border: 1px solid var(--btn-bg-color);
}
.bfy__library__contnet__textcolor{
    color: rgb(113 111 111);
}
.bfy__library__historycontnet__browse_link{
    text-decoration: none;
    color: rgb(85 85 255);
}
.bfy__library__contnet__heading{
    display: flex;
    align-items: center;
    width: 144px;
}
.margin{
    margin-left:20px ;
}}

@media screen and (max-width: 400px){
.bfy__library__header {
    margin: 57px 10px 50px 10px;
}
.bfy__library__historycontnet__hr_tag{
    border: 1px solid var(--btn-bg-color);
}
.bfy__library__contnet__textcolor{
    color: rgb(113 111 111);
}
.bfy__library__historycontnet__browse_link{
    text-decoration: none;
    color: rgb(85 85 255);
}  
.bfy__library__contnet__heading {
    display: flex;
    align-items: center;
    width: 144px;
}
.margin {
    margin-left: 7px;
}
}