:root {
    --nav-color: rgb(15, 15, 15);
    --text-color: rgb(255, 255, 255);
    --btn-color: rgb(34, 34, 34);
    --btn-bg-color: rgb(63, 63, 63);
}
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Carter+One&family=Marck+Script&family=Pacifico&display=swap");
@media screen and (min-width: 401px) {
    .bfy__navbar {
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--text-color);
            background-color: var(--nav-color);
            position: fixed;
            z-index: 1;
            width: 100%;
            top: 0px;
        }
        &__companyName {
            &-container {
                margin-left: 29px;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            &-barsIcon {
                font-size: 20px;
            }
            &-content {
                margin-left: 31px;
                display: flex;
                align-items: center;
            }
            &-logo {
                display: flex;
                align-items: center;
                width: 40px;
            }
            &-title {
                font-family: "Marck Script", cursive;
                font-weight: 900;
                font-size: 31px;
                margin: 0px;
            }
        }
        &__searchBar {
            &-container {
                display: flex;
                border: none;
                align-items: center;
                margin-top: 4px;
            }
            &-searchInput {
                border: 1px solid var(--btn-color);
                text-decoration: none;
                background-color: var(--nav-color);
                color: var(--text-color);
                padding: 13px;
                width: 450px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }
            &-searchIcon {
                border: 1px solid var(--btn-color);
                font-size: 15px;
                width: 40px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                padding: 13px;
                height: 15px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--btn-color);
                margin-left: 1px;
            }
            &-micIcon {
                width: 20px;
                height: 20px;
                border-radius: 50px;
                background-color: var(--btn-color);
                margin-left: 10px;
                display: flex;
                align-items: center;
                font-size: 25px;
                padding: 10px;
            }
        }
        &__Icons {
            &-container {
                margin-right: 20px;
            }
            &-icon {
                font-size: 25px;
                padding: 10px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .bfy__navbar {
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--text-color);
            background-color: var(--nav-color);
            position: fixed;
            z-index: 1;
            width: 100%;
            top: 0px;
        }
        &__companyName {
            &-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 10px;
            }
            &-barsIcon {
                display: none;
            }
            &-content {
                margin-left: 13px;
                display: flex;
                align-items: center;
            }
            &-logo {
                display: flex;
                align-items: center;
                width: 40px;
            }
            &-title {
                font-family: "Marck Script", cursive;
                font-weight: 900;
                font-size: 31px;
                margin: 0px;
            }
        }
        &__searchBar {
            &-container {
                display: none;
            }
            &-searchInput {
                display: none;
            }
            &-searchIcon {
                display: none;
            }
            &-micIcon {
                width: 20px;
                height: 20px;
                border-radius: 50px;
                background-color: var(--btn-color);
                margin-left: 10px;
                display: flex;
                align-items: center;
            }
        }
        &__Icons {
            &-container {
                margin-right: 20px;
            }
            &-icon {
                font-size: 25px;
                padding: 5px;
            }
        }
    }
}
