@media screen and (min-width: 401px) {
.modal-container{
        border: 1px solid;
            position: absolute;
top: 35%;
    left: 43%;
    width: 238px;
    height: 274px;
    background-color: var(--nav-color);

}
.colorname{
    color: white;
}
.cencel-btn {
    padding: 5px;
    width: 40%;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.input-container {
    display: flex;
    flex-direction: column;
}

.input-field {
    padding: 3px;
    margin-bottom: 10px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;

}

.Input-check-box {
    padding: 10px;
}

.inpur-btn {
    width: 40%;
    padding: 5px;
    border-radius: 8px;
    /* background: linear-gradient(to right, #373b44, #4286f4); */
    border: none;
    background-color: none;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
}
@media screen and (max-width: 400px) {
.modal-container{
border: 1px solid;
    position: absolute;
    border-radius: 10px;
    top: 18%;
    padding: 10px;
    left: 16%;
    width: 220px;
    height: 260px;
    background-color: var(--nav-color);
}
.colorname{
    color: white;
}
.input-container{
    display: flex;
    flex-direction: column;
}
.input-field{
padding: 3px;
    margin-bottom: 10px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;

}
.Input-check-box{
    padding: 10px;
}
.inpur-btn{
    width: 40%;
    padding: 5px;
    border-radius: 8px;
    /* background: linear-gradient(to right, #373b44, #4286f4); */
    border: none;
    background-color: none;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cencel-btn{
    padding: 5px;
    width: 40%;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
}