@media screen and (min-width: 401px) {
.Sidebars{
  display: flex;
  flex-direction: column;
  width: 77px;
  height: 586px;
  position: fixed;
  top: 59px;
  left: 0px;
  background-color: var(--nav-color);
  color: white;
}
.bars-icon{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.bars-icon-div{
    margin: 8px 0px;
    display: flex;
    flex-direction: column;
     align-items: center;
    padding: 10px;
    
}
.bars-icon-div:hover{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--btn-bg-color);
        
}

.sidebars-p-tag {
    margin: 0px;
    font-size: 11px;
}
}
@media screen and (max-width: 400px){

.Sidebars {

   display: grid;
   grid-template-columns: auto auto auto auto;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: var(--nav-color);
    color: white;
 }

 .bars-icon {
     font-size: 20px;
     text-decoration: none;
     color: white;
 }

 .bars-icon-div {
     margin: 8px 0px;
     display: flex;
     flex-direction: column;
     align-items: center;
     /* padding: 10px; */

 }

 .bars-icon-div:hover {
     padding: 10px;
     border-radius: 10px;
     background-color: var(--btn-bg-color);

 }

 .sidebars-p-tag {
     margin: 0px;
     font-size: 11px;
 }
}
