.Sidebars{
  display: flex;
  flex-direction: column;
  width: 77px;
  height: 586px;
  position: fixed;
  top: 59px;
  left: 0px;
  background-color: var(--nav-color);
  color: white;
}
.bars-icon{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.bars-icon-div{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
     align-items: center;
    
}
.sidebars-p-tag {
    margin: 0px;
    font-size: 11px;
}