@media screen and (min-width: 401px) {
    .bfy__history {
        &__container {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
        }
        &__historyCard {
            &-container {
                width: 210px;
            }
            &-thumbnail {
                width: 210px;
                height: 118px;
                border-radius: 10px;
            }
            &-content {
                display: flex;
            }
            &-detail {
                display: block;
            }
            &-title {
                margin: 4px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            &-text {
                font-size: 13px;
                margin: 4px;
                color: gray;
            }
            &-icon {
                font-size: 20px;
                text-decoration: none;
                color: white;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .bfy__liked {
        &__container {
            display: flex;
            overflow-x: scroll;
            &::-webkit-scrollbar {
                width: 0.2em;
            }
            &::-webkit-scrollbar-thumb {
                background-color: var(--nav-color);
            }
        }
        &__likeCard {
            &-container {
                width: 125px;
                margin: 0px 5px;
            }
            &-thumbnail {
                width: 125px;
                border-radius: 10px;
            }
            &-content {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
            }
            &-detail {
                display: block;
            }
            &-title {
                margin: 10px;
            }
            &-text {
                font-size: 13px;
                margin-top: 6px;
                color: #868686;
            }
            &-icon {
                font-size: 20px;
                text-decoration: none;
                color: white;
            }
        }
    }
}























// @media screen and (min-width: 401px) {
// .main-history-body-container{
//     display: grid;
//     grid-template-columns: auto auto auto auto auto;
// }
// .history-video-container{
//     width: 210px;
// }
// .history-video-image{
//     width: 210px;
//     height: 118px;
//     border-radius: 10px;
// }
// .history-video-detail {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }
// }
// @media screen and (max-width: 400px) {

// .history-video-container {
// width: 125px;
//         margin: 0px 5px;
// }  
// .history-video-image {
//     width: 125px;
//     border-radius: 10px;
// }
// .history-font{
// font-size: 13px;
//     margin-top: 6px;
//     color: #868686;
// }
// .history-video-detail{
//         display: flex;
//             align-items: flex-start;
//             justify-content: space-between;
// }
// .main-history-body-container{
//     display: flex;
//      overflow-x: scroll;

// }
// .main-history-body-container::-webkit-scrollbar {
//     width: 0.2em;
// }

// .main-history-body-container::-webkit-scrollbar-thumb {
//     background-color: var(--nav-color);
// }
// }