@media screen and (min-width: 401px) {
.main-history-body-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.history-video-container{
    width: 210px;
}
.history-video-image{
    width: 210px;
    height: 118px;
    border-radius: 10px;
}
.history-video-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
}
@media screen and (max-width: 400px) {

.history-video-container {
width: 125px;
        margin: 0px 5px;
}  
.history-video-image {
    width: 125px;
    border-radius: 10px;
}
.history-font{
font-size: 13px;
    margin-top: 6px;
    color: #868686;
}
.history-video-detail{
        display: flex;
            align-items: flex-start;
            justify-content: space-between;
}
.main-history-body-container{
    display: flex;
     overflow-x: scroll;

}
.main-history-body-container::-webkit-scrollbar {
    width: 0.2em;
}

.main-history-body-container::-webkit-scrollbar-thumb {
    background-color: var(--nav-color);
}
}